**/.idea/*
*.iml
node_modules/*
target/*
clean/target/*
project/*
!project/plugins.sbt
!project/build.properties
clean/project/*
!clean/project/plugins.sbt
!clean/project/build.properties
presentation/*
!presentation/index.html